<!DOCTYPE html>
<p><b>Are you like, super sure you want to? We will miss you!</b><p>
  <form action="/users/delete" method="POST">
    <fieldset>
      <legend>Please enter your email address to delete your account.</legend><br>
      Email:<br>
      <input type="text" name="email" value=""><br><br>
      <input type="hidden" name="_method" value="delete" /> 
      <input type="submit" value="Delete"><br><br>
    </fieldset>
  </form>
