<!DOCTYPE html>
<h2>Congrats! You've been successfully logged out.</h2>
<p>Return to the <a href="/">home page</a> and restart the process to make additional changes to your volunteer information.</p>
