<!DOCTYPE html>
<h1>Signup Form</h1>
<form action="/users" method="POST">
  <fieldset>
    <legend>Personal information:</legend><br>
    Name:<br>
    <input type="text" name="name" value=""><br><br>
    Email:<br>
    <input type="text" name="email" value=""><br><br>
    Password:<br>
    <input type="password" name="password" value=""><br><br>
    Profession:<br>
    <input type="text" name="profession" value=""><br><br>
    <input type="submit" value="Submit"><br><br>
    <br>
    <a href="/">Take Me Home</a>
  </fieldset>
</form>
