<!DOCTYPE html>
<h1>New Post</h1>
<form action="/users/new_posts" method="POST">
  <fieldset>
    <legend>Make a Post:</legend><br>
    Title:<br>
    <input type="text" name="title" value="title"><br><br>
    Content:<br>
    <input type="text" name="content" value="content"><br><br>
    <input type="submit" value="Post it!"><br><br>
    <br>

    <a href="/">Take Me Home</a>
  </fieldset>
</form>
