<!DOCTYPE html>
<!-- #iterate through each user (volunteer) and list the information you want to dispaly here. -->
<h1>List of Volunteers</h1>
<% @users.each do |user| %>
<%= user.name %>
<%= user.profession %>
<%end%>
