<!DOCTYPE html>
<h1><u>#Popscope Volunteer Platform</u></h1>
<br>
<p><i>#Popscope stands for pop-up telescope.</i> Imagine looking up at the sky on a clear night — something beautiful, unfamiliar, and perhaps even inexplicable —- that feeling of admiration, awe, and wonder. When was the last time you looked at the stars, the craters of the moon, or the rings of Saturn? </p>
<p>#Popscope is an urban movement that aims to reconnect diverse communities to the night sky and to each other by hosting free, “pop-up” astronomy nights in public spaces. Since 2014, #popscope has hosted 300+ events that have connected nearly 16,000 people to each other and to the sky.</p>
<p>Volunteer with us today by creating a volunteer account <a href="/signup">here</a>.</p>
<p>If you already have an account, you can login <a href="/login">here</a> to edit your information or make a new post to fellow public astronomers.</p>
